body {
    height: 100vh;
    margin: 0;
}

.main {
    height: calc(100vh - 63px);
}

#menu {
    z-index: 1;
}

.grid,.row {
    margin: 0 !important;
    height: 100%;
}

.column {
    padding: 0 !important;
    height: 100% !important;
}

#html, #css, #javascript {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 17px;
}

[class*="ace"] {
    font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

#script,#show {
    position: relative;
    overflow: hidden;
}

iframe {
    height: calc(100% - 30px);
    width: 100%;
    border: 0;
    overflow: hidden;
}

#label {
    width:100%;
    background-color:slategray;
    color: white;
    padding: 5px 12px;
    font-size: 16px;
    display: block;
}

.logo {
    height: 35px;
    width: 35px;
}

.ts.tab.segment {
    height: 100%;
}

.version {
    bottom: 0;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin: auto;
}